{% extends 'templates/app.twig' %}
{% block content %}
    <link rel="stylesheet" href="formstyle.css">
    <div class="form__wrapper">
        <h1>Sign Up</h1>
        <form action="{{ route('register.store') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="{{ constant('SESSION_KEY', csrf) }}" value="{{ csrf.token }}">
            <div class="form__field">
                <input id="name" value="{{ old.name }}" name="name" type="text">
                <span></span>
                <label for="name">Name</label>
                {% if errors.name %}
                    <p class="text-red-500 text-xs mt-2">{{ errors.name | first }}</p>
                {% endif %}
            </div>
            <div class="form__field">
                <input id="email" value="{{ old.email }}" name="email" type="email" autocomplete="email">
                <span></span>
                <label for="email">Email</label>
                {% if errors.email %}
                    <p class="text-red-500 text-xs mt-2">{{ errors.email | first }}</p>
                {% endif %}
            </div>
            <div class="form__field">
                <input id="image" name="image" type="url" autocomplete="https://placekitten.com/50/50">
                <span></span>
                <label for="image">Image</label>
                {% if errors.image %}
                    <p class="text-red-500 text-xs mt-2">{{ errors.image | first }}</p>
                {% endif %}
            </div>
            <div class="form__field">
                <input id="password" name="password" type="password" autocomplete="current-password">
                <span></span>
                <label for="password">Password</label>
                {% if errors.password %}
                    <p class="text-red-500 text-xs mt-2">{{ errors.password | first }}</p>
                {% endif %}
            </div>
            <div class="form__field">
                <input id="password_confirmation" name="password_confirmation" type="password">
                <span></span>
                <label for="password_confirmation">Password</label>
                {% if errors.password_confirmation %}
                    <p class="text-red-500 text-xs mt-2">{{ errors.password_confirmation | first }}</p>
                {% endif %}
            </div>
            <input class="form__button" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}